body {
    width: 300px;
    margin-top: 15px;
    font-family:Verdana, sans-serif;
    padding: 5%; 
    margin-left:70px;

}

header{
    display: flex;  
    padding: 12px;
    margin:25px
}


li{
    text-transform: ;
    list-style-type: none;
    display: list-item;
    position: relative;
    text-emphasis-position: line;
    font-size: 12px;
    text-shadow: none;
    column-count: 2;
    left: 85px;
}
  a {
   
    display: flex;
    position: relative;
    margin-inline: 25px;


    

}
h1{
    font-weight: lighter;
    margin-bottom:15px;
    font-size: 35px;
    
    
}
.a1{
    display: flex;
    position: relative;
    margin-top: 80px;
    font-size: 27px;
    column-count: ;
}
p{
    font-size: 12px;
}

button {
    width: 80px;
    height: 30px;
    background-color: rgb(66, 191, 66);
    border: 3px;
    border-radius: 5px;

}
.a2 {
    position: relative;
    display: flex;
    font-size: 12px;
    margin-top: 30px;
    column-count: ;
   
}
.box {
    width: 60px;
    height: 25px;
    background-color: rgb(66, 191, 66);
    border: 3px;
    border-radius: 5px;
    left: 110px;
    font-size: 12px;
    text-align: left;
}

.a3{
    font-size: 12px;
}